/* Color combination: white and emerald
emerald: #0CCE6B */
/* https://www.logomaker.net/logo-maker/dashboard */
/* good color palette: 9b7ede-832161-0cce6b-ffffff */
/*icon-icons.com for icons*/
/* https://icon-icons.com/pack/Social-Media---Outline/3567 */
/* https://icon-icons.com/users/fxJOFytN6h2GeI3ZQE8hN/icon-sets/ */
/* icons for programming https://icon-icons.com/pack/Devicon/2415
JS
CSS
HTML
Boostrap
Redux
Node JS
Mongo DB
Jest
Puppeteer
AWS
*/
:root {
  --emerald: #0CCE6B;
  --second_background_color: #f7f7f7;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 4vw;
}

.card-header {
  font-size: 1vw;
}

/* Navigation */
.navigation {
  background-color: #FFFFFF;
  transition: transform 0.2s;
}

li a {
  color: #000000;
  transition: color 0.2s;
}

li a:hover {
  color: var(--emerald);
}

button {
  font-family: inherit;
  color: #000000;
  background-color: white;
  border-color: var(--emerald);
  border-style: solid;
  transition: border 0.2s; 
}

button:hover {
  color: var(--emerald);
  border-color: var(--emerald);
} 

/* Sidebars */

.sidebar {
  position: fixed;
  top: 70vh;
  left: 3vw;
  width: 50px;
}


.sidebar__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

svg {
  display: inline;
}

.github_icon:hover path {
  fill: var(--emerald);
}

.linkedin_icon:hover path {
  fill: var(--emerald);
}

.cv_icon:hover {
  fill: var(--emerald);
}

.wa_icon:hover path {
  fill: var(--emerald);
}

.sidebar_email {
  position: fixed;
  top: 65vh;
  right: 3vw;
  width: 50px;
}

.sidebar_email a {
  writing-mode: vertical-rl;
  color: black;
  transition: color 0.2s;
}

.sidebar_email a:hover {
  color: #0CCE6B;
}

/* Home section */

#Home {
  margin-top: 35vh;
}

#home__resumeButton {
  width: inherit;
  border-style: none;
  border-width: 5px;
  border-color: #0CCE6B;
  font-size: 1.5vw;
  color:#FFFFFF;
  background-color: rgba(12, 206, 107, 0.3);
  transition: background-color 0.2s;
}

#home__resumeButton:hover {
  background-color: rgba(12, 206, 107);
}

#home__resumeButton a:first-child {
  color: #FFFFFF;
}

/* about me section */

.about_me {
  margin-top: 25vh;
  margin-bottom: 25vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: var(--second_background_color);
  z-index: -2;
}

#about_me__img {
  padding: 0;
  z-index: 0;
} 

#about_me__img:after {
  content: '';
  border: 2px solid #000000;
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: translate(30px, 30px);
  transition: transform 0.2s, border-color 0.2s;
}

#about_me__img:hover::after {
  transform: translate(15px,15px);
  border-color: var(--emerald);
}

#skills p:nth-child(2n+1) {
  font-weight: bold;
}

#skills p:nth-child(2n) {
  text-indent:10%;
}


/* Projects section */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 0;
}

.card {
  transition: border-color 0.2s, transform 0.2s, color 0.2s ;
}

.card:hover {
  border-color: var(--emerald);
  transform: translateY(-5px);
  color: var(--emerald);
}

.card-header {
  border-color: inherit;
  color: inherit;
}

.card-body {
  color: #000000;
}

.card-body a {
  color: #000000;
}

.card-body button:hover {
  color: var(--emerald);
} 

.card-body a:hover {
  text-decoration: none;
  color: inherit;
}

.projects {
  margin-bottom: 35vh;
}

.project_icon {
  width: 20%;
}

/* Contact section */

#contact__header {
  padding-bottom: 3vh;
}

.contact {
  margin-bottom: 40vh;
  background-color: var(--second_background_color);
}

#contact__hello_button {

  width: inherit;
  border-style: none;
  border-width: 5px;
  border-color: #0CCE6B;
  font-size: 1.5vw;
  color:#FFFFFF;
  background-color: rgba(12, 206, 107, 0.3);
  transition: background-color 0.2s;
}

#contact__hello_button:hover {
  background-color: rgba(12, 206, 107);
}

#contact__hello_button a:first-child {
  color: #FFFFFF;
}

/* footer section */

.footer img {
  margin:auto;
  display: block;

}

