/* Color combination: white and emerald
emerald: #0CCE6B */
/* https://www.logomaker.net/logo-maker/dashboard */
/* good color palette: 9b7ede-832161-0cce6b-ffffff */
/*icon-icons.com for icons*/
/* https://icon-icons.com/pack/Social-Media---Outline/3567 */
/* https://icon-icons.com/users/fxJOFytN6h2GeI3ZQE8hN/icon-sets/ */
/* icons for programming https://icon-icons.com/pack/Devicon/2415
JS
Css
HTML
Boostrap
Redux
Node JS
Mongo DB
Jest
Puppeteer
AWS
*/
:root {
  --emerald: #0CCE6B;
  --second_background_color: #f7f7f7;
}

body {
  font-family: sans-serif;
  font-size: 18px;
}

.hidden {
  display: none;
}

h1 {
  font-size: 4vw;
}

/*.card-header {
  font-size: 1vw;
} */

.linkButton {
  background-color: rgba(12, 206, 107, 0.3);
  border-radius: 5px;
  color: #fff !important;
  transition: background-color 0.2s;
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  line-height: 1.5;
  text-decoration: none;
}

.linkButton:hover{
  background-color: rgba(12, 206, 107);
  cursor: pointer;
  text-decoration: none;

}

.linkButtonAlt {
  background-color: rgba(12, 206, 107, 0.3);
  border-radius: 5px;
  color: #fff !important;
  transition: background-color 0.2s !important;
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  line-height: 1.5;
  text-decoration: none;
}

.linkButtonAlt:hover{
  background-color: rgba(12, 206, 107);
  cursor: pointer;
}

/* Navigation */

#navbarNav {
  padding-right: 50px;
}

#navbarNavGerman {
  padding-right: 50px;
}

.navigation {
  background-color: #FFFFFF;
  transition: transform 0.2s;
}

.nav-link {
  color: #000000 !important;
  transition: color 0.2s !important;
}

.nav-link:hover {
  color: var(--emerald) !important;
}

li:last-child a {
  padding-left: 10px;
  padding-right: 10px;
} 

.nav-item:hover {
  color: var(--emerald);
}

/* Sidebars */
@media all and (max-width: 575px) {
  .sidebar {
    display: none;
  }
  .sidebar_email {
    display: none;
  }
} 

.sidebar {
  position: fixed;
  top: 70vh;
  left: 3vw;
  width: 50px;
}


.sidebar__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

svg {
  display: inline;
}

.github_icon:hover path {
  fill: var(--emerald);
}

.linkedin_icon:hover path {
  fill: var(--emerald);
}

.cv_icon:hover {
  fill: var(--emerald);
}

.wa_icon:hover path {
  fill: var(--emerald);
}

.sidebar_email {
  position: fixed;
  top: 65vh;
  right: 3vw;
  width: 50px;
}

.sidebar_email a {
  writing-mode: vertical-rl;
  color: black;
  transition: color 0.2s;
  text-decoration: none;
}

.sidebar_email a:hover {
  color: #0CCE6B;
}

/* Home section */


@media all and (min-width: 576px) {
  #Home {
    margin-top: 35vh;
  }  
  #HomeGerman {
    margin-top: 35vh;
  }  
} 

@media all and (max-width: 575px) {
  #Home {
    margin-top: 15vh;
  }
  #HomeGerman {
    margin-top: 15vh;
  }
  #Home h1 {
    font-size: 8vw;
  }
  #HomeGerman h1 {
    font-size: 8vw;
  }
}

.me {
  --s: 10px; /* control the size */
  padding: var(--s);
  border: calc(2*var(--s)) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1*var(--s));
  background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
  transition: outline-color, background 0.2s;
}

.me:hover {
  outline-color: #0CCE6B;
  background: conic-gradient(from 90deg at 1px 1px,#fff 25%,#0CCE6B 0);
}

.Home__sentence {
  font-size: 20px;
}

.Home__button {
  display: inline-block;
  width: 15vw;
}
@media all and (max-width: 567px) {
  .Home__button {
    display: inline-block;
    width: 30vw;
  }
}
/* about me section */

.about_me {
  margin-top: 25vh;
  margin-bottom: 25vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: var(--second_background_color);
  z-index: -2;
}

#about_me__img {
  padding: 0;
  z-index: 0;
} 

#about_me__imgGerman {
  padding: 0;
  z-index: 0;
} 

.logo {
  width: 6vh;
  height: 6vh;
  transition: width, height 0.5s;
}

.logo:hover {
  width: 7vh;
  height: 7vh;
}

.logo_bs {
  width: 6vh;
  height: auto;
  transition: width 0.5s;
}

.logo_bs:hover {
  width: 7vh;
}

.logo_git {
  width: 11vh;
  height: auto;
  transition: width 0.5s;
}

.logo_git:hover {
  width: 12vh;
}

.logo_netlify {
  width: 15vh;
  height: auto;
  transition: width 0.5s;
}

.logo_netlify:hover {
  width: 16vh;
}

/* Projects section */

.card {
  transition: border-color 0.2s, transform 0.2s, color 0.2s ;
}

.card__img {
  width: 100%;
}

.card:hover {
  border-color: var(--emerald);
  transform: translateY(-5px);
  color: var(--emerald);
}

.card-header {
  border-color: inherit;
  color: inherit;
  font-size: 22px;
}

.card-body {
  color: #000000;
}

.projects {
  margin-bottom: 35vh;
}

.project_icon {
  width: 20%;
}

.myFlix__techWrapper {
  margin-bottom: 2vh;
}

.movieAPI__wrapper {
  margin-bottom: 2vh;
}

.chatify_wrapper {
  margin-bottom: 2vh;
}

/* Contact section */

.contact {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: var(--second_background_color);
}

/* footer section */

.footer {
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.footnote {
  text-align: center;
}

.imgWrapper {
  display: inline;
  text-align: center;
}  

@media all and (max-width: 575px) {
  .footnote {
    margin: auto;
  }
} 
