/* Color combination: white and emerald
emerald: #0CCE6B */
/* https://www.logomaker.net/logo-maker/dashboard */
/* good color palette: 9b7ede-832161-0cce6b-ffffff */
/*icon-icons.com for icons*/
/* https://icon-icons.com/pack/Social-Media---Outline/3567 */
/* https://icon-icons.com/users/fxJOFytN6h2GeI3ZQE8hN/icon-sets/ */
:root {
  --emerald: #0CCE6B;
}

body {
  font-family: sans-serif;
}

li a {
  color: var(--emerald);
}

li a:hover {
  color: var(--emerald);
}

button {
  font-family: inherit;
  color: var(--emerald);
  background-color: white;
  transition: border;
}

button:hover {
  border-color: var(--emerald);
}

.sidebar {
  position: fixed;
  top: 65vh;
  left: 3vw;
  width: 50px;
}

.sidebar__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

svg {
  display: inline;
}

.github_icon:hover path {
  fill: var(--emerald);
}

.linkedin_icon:hover path{
  fill: var(--emerald);
}

.vertical {
  border-left: 1px solid black;
  height: 400px;
  position:absolute;
  left: 50%;
}

.sidebar_email {
  position: fixed;
  top: 65vh;
  right: 3vw;
  width: 50px;
}

.sidebar_email a {
  writing-mode: vertical-rl;
  color: black;
}

.home {
  margin-top: 15vh;
}

.about_me {
  margin-top: 50vh;
}

h1 {
  font-size: 4vw;
}

.profilepic {
  width: 30%;
}






